@font-face {
    font-family: 'Galmetgol';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_04@1.0/Galmetgol.woff') format('woff');
    font-weight: 900;
  }
  @font-face {
    font-family: "KCC-eunyoung";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');  
  }

body{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #F27536;
    padding: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    border: black solid 3px;
    padding: 15px 30px;
    border-radius: 15px;
    width: 500px;
    font-family: 'Galmetgol';
    font-size: 20px;
    word-spacing: 15px;
    background-color: #f3a229d3;
    margin-bottom: 50px;
}

.review_contents{
    margin: 20px 0px;
    width: 500px;
    word-wrap: break-word;
    letter-spacing: 2px;
}

.error{
    font-size: 30px;
    font-family: KCC-eunyoung;
}

.Lookmore{
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    border-radius: 15px;
}

.Lookmore:link,.Lookmore:visited{
    text-decoration: none;
    color: black;
    font-family: KCC-eunyoung;
}

.Lookmore:hover{
    background-color: rgb(230, 227, 97);
}

.container_thumb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 500px;
    border-radius: 15px;
    border: black solid 3px;
    margin-top: 50px;
    min-height: 150px;
    align-items: center;
    justify-items: center;
}

.thumbnail{
    width: 100px;
    aspect-ratio: 4/3;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

#main-title{
    width: 1000px;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    text-align: center;
    overflow-x: hidden;
    padding: 5px 0px 9px 0px;
    font-family: KCC-eunyoung;
    font-size: 40px;

}

#Logo_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deco{
    background-color: white;
    padding: 0px 15px;
}

#totalreview,#totalreview_local{
    color: white;
    font-size: 20px;
    background-color: #d55510;
    line-height: 40px;
    word-spacing: 15px;
    height: fit-content;
    font-family: KCC-eunyoung;
    padding: 0 25px 5px 25px;
    margin: 30px;
    width: fit-content;
    border: 3px solid black;
    border-radius: 15px;
  }

  .numbering,.numbering_local{
    font-family: 'KCC-eunyoung';
    font-size: 30px;
    background-color: white;
    border-radius: 50px;
    padding: 15px;
  }

  .numbering{
  position: relative;
  right: 360px;
  top: 110px;
}