@font-face {
    font-family:'큐트신민상';
    src: "C:\Users\82104\Downloads\큐트신민상v1_01.ttf" format('woff');
  }

.Account_nevbar_child_components{
    
    font-family:'큐트신민상';

    font-size: 4vw;
    padding-right: 2vw;
    height: fit-content;

    font-weight: bolder;
}