<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Script - homepage</title>
  <link rel="stylesheet" href="/css/Bass/Bass_homepage.css">
</head>

<body>
  <div class="grid">
  <div class="States"><a id="Staa" href='/logout'>Logout</a> / Logined
  <a id="logined"></a>
  <a id="logouted"></a>
  <div id="Notice"></div>

</div><form id='redirect'>
      <div class='Logo-Searchbar'>
        <a href="/"><img class="logo"src="\image\icon.png"></a>
        <div class="Searchbar"><img class="icon" src="\image\돋보기.png">Click <a href="/filter">'here'</a> to start "Food Script"</form>
        </div>

        <div class="title">
          <span id="support">Supprots & Licenses</span>
          <span id='HTU'>How to Use</span>
          <span id="purpose">Purpose</span></div>
      
      <div id="introduction">
      <div class="mainintro">Check Out the discription what shows us !!!</div>
      </div>
      
      <div class="contacts"><span>About us</span><span>Community</span><span>How to contact</span><span>Notice</span></div>
      </div>
      
      </div>
      
      <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
        <script type="text/javascript" src="js/Bass_homepage.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
      
      </body>


</html>
