<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="name">About: </title>
  <link rel='stylesheet' href='\css\template\template_reviews.css'>
  <style>
  </style>
</head>
<body>

<div id="border2">

  <ul id="menubar1">

  <li><a href="/menu">
  <img id="menubtn" src="image\iconmonstr-menu-5-64 (1).png"></a>
  </li>

  <li><div class="border">
    <img id="profile" src="image\iconmonstr-user-20-24.png"></div>
  </li>

  <li><div class="border">
    <img id="reviews" src="image\iconmonstr-pencil-15-96.png"></div>
  </li>

  <li><div class="border">
    <img id="journals" src="image\iconmonstr-file-1-32.png"></div>
  </li>

  <li><div class="border">
    <img id="alarms" src="image\iconmonstr-bell-1-32.png"></div>
  </li>

  <li><div class="border"><a href='/filter'>
    <img id="filter" src="image\iconmonstr-filter-1-32 (1).png"></a></div>
  </li>

</ul></div><div class="line">

<div class="align-left">
  <div class="basic">
  <div class="name"></div>
  <div class="textdetail">
    <ul class= 'list1'>
      <!-- <li class="marginA"><a class="text">Serve type: </a> <a class="answer">한식</a></li> -->
      <li class="marginA"><a class="text">Average-Rating:</a>  <a class="answer"></a></li>
      <li class="marginA"><a class="text">Location:</a>  <a class="answer"></a></li>
      <li class="marginA"><a class="text">Phone-Number: </a><a class="answer"></a> </li>
      <li class="marginA"><a class="text">Opening_Hours:</a>  <p class='answer_hour'></p></li>
    </ul></div>
  </div>


  <div class="collection">
    <div class='slide'><a class="title1">Image Section</a><a class="btn-close">close</a></div>
    <div class="image-area">
      <ul class="contentbox">

        <li class="imagealigns">
          <div class="minititle">photos</div>
          <div class="lookupsection-photo">
            <a class="link" href='/photo' target="/photo"><div class="image"><div id="text"></div></div></a>
          </div></li>


      </ul>
    </div>
  </div>


  <div class="collection">
    <div class='slide'><a class="title1">Review Section</a><a class="btn-close">close</a></div>
    <div class="review-area">
    <ul class="reviewalign">
      <div id="totalreview"></div>


    </ul>
    </div>
  </div>


  <div class="collection">
  <div class="insert-area">

  <div class="writesection1">
    <a id="write_review_link">
    <div id="writereview">
      <div class="writetext">Write <br> My Review <br>about here</div>
      <img src="image\iconmonstr-pencil-15-96.png" class="writeicon">
    </div></a>
  </div>


  <div class="writesection2">
    <a id="write_journal_link">
    <div id="writejournal">
      <div class="writetext">Write<br> My Journal <br>about here</div>
      <img src="image\iconmonstr-file-1-32.png" class="writeicon">
    </div></a>
  </div>

  <div id="map"></div>

  </div>


  </div>
  </div>

</div>

</div>

<script async defer type="text/javascript" src="js/template_reviews.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw0X4pec-WCEWCcNz-tmNDEqo9XiZyNdM&libraries=places"></script>
</body>

</html>
