<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="title"></title>
  <link rel="stylesheet" href="css/template/template_photo.css">
</head>
<body>
<div id="map"></div>
<div class="center">
  <span class="direction"> <- </span> <img id="magnify"> <span class="direction"> -> </span> </div>
<div id="totalphoto"></div>



<script async defer type="text/javascript" src='js/template_photo.js'></script>
<script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBw0X4pec-WCEWCcNz-tmNDEqo9XiZyNdM&libraries=places'></script>
</body>
</html>
